body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h3 {
    color: #4a4a4a;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 36px;
}

p {
    color: #444444;
    font-size: 14px;
    line-height: 1.71;
}
a {
    outline: none !important;
    text-decoration: none !important;
}
input[type="submit"] {
    outline: none;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

header {
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    background-color: #fff;
}
header .logo {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    padding: 10px 0;
}
header .logo a img {
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
}
header .logo h1 {
    margin-top: 10px;
}

.promo-block {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.lang-menu {
    padding: 20px 0;
}

.main-slider {
    width: 100%;
    position:relative;
    height:400px;
    background: url("../../images/slider/img1.jpg") no-repeat center 0;
    background-size: cover;
}

.lang-filter {
    margin-bottom: 0;
}
.lang-filter ul {
    margin: 0;
    padding: 0;
}
.lang-filter ul li {
    display: inline-block;
    transition: 400ms;
    text-transform: uppercase;
}
.lang-filter ul li:last-child {
    margin-right: 0;
}
.lang-filter ul li a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: block;
}
.lang-filter ul li:hover a {
    background-color: #09380e;
    transition: 400ms;
    color: #Fff;
}
.lang-filter ul li.current-lang a {
    text-align: center;
    background-color: #09380e;
    color: #Fff;
}

.menu {
    text-align: center;
}

nav ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 4px;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li::before{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #09380e;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: 0;
}
nav ul li::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #09380e;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: 0;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li:hover::before{
    width: 50%;
    left: 0;
}
nav ul li:hover::after{
    width: 50%;
}
nav ul li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #858585;
    transition: 400ms;
}
nav ul li.current-menu-item a, nav ul li:hover a {
    text-decoration: none;
    transition: 400ms;
    color: #09380e;
}

footer {
    background-color: #ccd6cd;
    padding-top: 25px;
    padding-bottom: 15px;
    color: #09380e;
}
footer a {
    color: #09380e;
}
footer h3 {
    font-size: 16px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
    color: #09380e;
    text-align: center;
}
footer .logo {
    text-align: center;
}
footer .logo img {
    width: 100%;
}
footer address ul {
    list-style-type: none;
    padding: 0;
}
footer address ul li {
    padding: 10px 0 10px 40px;
}
footer address ul li.email {
    background: url(../../images/icons/email.png) no-repeat left;
}
footer address ul li.phone {
    background: url(../../images/icons/phone.png) no-repeat left;
}
footer address ul li.address {
    background: url(../../images/icons/marker.png) no-repeat left;
}
footer address ul li a:hover {
    text-decoration: underline !important;
}
footer form input[type="text"], footer form input[type="tel"], footer form input[type="email"], footer form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    padding: 5px 12px;
    font-size: 14px;
    color: #09380e;
    border: 1px solid #09380e;
    margin-bottom: 12px;
    outline: none;
    font-style: italic;
    border-radius: 2px;
}
footer form textarea {
    height: 100px;
    resize: none;
}
footer form img {
    width: 30px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;
    display: none;
}
footer form input[type="submit"] {
    text-align: center;
    display: block;
    width: 100%;
    border: 2px solid #09380e;
    color: #09380e;
    background: transparent;
    margin-top: 25px;
    border-radius: 2px;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 700;
}
footer .social-links ul {
    padding-left: 0;
    margin-left: 0;
}
footer .social-links ul li {
    margin-right: 18px;
    display: inline-block;
}
footer .social-links li a {
    width: 36px;
    height: 35px;
    display: block;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}
footer .social-links li a.facebook {
    background-image: url(../../images/icons/facebook.png);
}
footer .social-links li a.google {
    background-image: url(../../images/icons/google-plus.png);
}
footer .social-links li a.twitter {
    background-image: url(../../images/icons/twitter.png);
}
footer .social-links li a.linkedin {
    background-image: url(../../images/icons/linkedin.png);
}
footer .social-links li a.youtube {
    background-image: url(../../images/icons/youtube.png);
}
p.error-while-submitting-message {
    text-align: center;
    display: none;
    clear: both;
}